header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-light#shadow
    a.navbar-brand(href="/") 
    div
    img(src="/images/logo.png" alt="logo")

    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
    ul.nav.justify-content-end
      li.nav-item.ml-3
        a.nav-link(href='/home') Home
      li.nav-item.ml-3
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Pizza</button>
          <button class="dropdown-item" type="button">Sides</button>
          <button class="dropdown-item" type="button">Pasta</button>
          <button class="dropdown-item" type="button">Beverages</button>
          <button class="dropdown-item" type="button">Desserts</button>
        </div>
      </div>   
      li.nav-item.ml-3
        a.nav-link(href='/register') Register
      li.nav-item.ml-3
        a.nav-link(href='/login') Login
      li.nav-item.mr-3.ml-3.rounded
        a.nav-link(href='/cart').inline-block.px-3.py-1
        img(src="./images/cart.png" alt="")
      
    
      

        
        
     
      